.header-box{
    padding-left: 2px;
    padding-top: 33px;
}
.header-content{
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
}
.header-title{
    margin-top: 60px;
    margin-left: 50px;
    color: #212529;
}
.container{
    text-align: center;
    width: 100%;
  }
  .input-box{
    margin-bottom: 5px;
}
.form-horizontal{
    margin-left: 56px;
    margin-top: 14px;
}
.side-title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: left;
    color: #212529;
    font-size: 20px;
}
.body-box{
    margin-top: 34px;
    color: #212529; 
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    
}
.input-control {
    display: block;
    width: 57%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #212529;
    border-radius: 2px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
  }
  .login-box{
    margin-left: 136px;
    margin-top: -94px;
  }
  .login-title{
    margin-right: 866px;
    color: #313c47;
  }
  .login-info{
    border-left: 3px solid #212529;
    font-size: 19px;
    margin-top: -54px;
    background-color: gainsboro;
    width: 94%;
    margin-left: 15px;
    outline: none;
}
.next{
    text-align: right;
    font-size: 95px;
    color: #555a5f;
    background-color: transparent;
    border: 1px solid dimgray;
    cursor: pointer;
    margin-top: -98px;
    margin-left: 976px;
    border-radius: 5rem;
    outline: none;
}
.SignUp-box{
  margin-left: 136px;
  margin-top: -144px;
}
.Red-flag{
  margin-top: -1px;
  height: 80%;
  border-bottom: 1px solid #555a5f;
}
.Red-flag-info{
  margin-top: -169px;
  font-size: 14px;
  text-align: center;
  border-right: 5px solid #555a5f;
}
.Red-flag-title{
  padding: 10rem;
  color: #555a5f;
  font-weight: lighter;
}
.flag-title{
  margin-top: 125px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #313c47;
}
.red-form{
  margin-top: -23px;
  margin-left: 323px;
}
.Red-flag-button{
  font-family: 'Montserrat', sans-serif;
  margin-top: -49px;
  background-color: transparent;
  font-size: 34px;
  color: #313c47;
  border: 3px solid #313c47;
  margin-left: 410px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.Flag-box{
  margin-top: -90px;
}
.attach-box{
  margin-top: -4px;
  padding-left: 19rem;
}
.flags-title{
  margin-top: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-right: 945px;
  color: #313c47;
  letter-spacing: 2px;
}
.Red-flags-box{
   margin-top: -140px;
}
.flags-info{
  margin-top: 38px;
  margin-left: 174px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  color: #313c47;
  padding-left: 3rem;
}
.table {
  width: 100%;
  max-width: 76%;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
}
.icon{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.reset-box{
  margin-top: 80px;
}